:root {
  --basic-darker-color: #882ffd;
  --second-basic-light-color: #f1effc;
  --paragraph-font-style: "Poppins", sans-serif;
  --header-font-style: "Playfair Display", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-style);
}
p {
  font-family: var(--paragraph-font-style);
}

/*header*/
.navbar-custom {
  background-color: var(--second-basic-light-color);
}

.toggler-icon-custom {
  border: 1px solid var(--basic-darker-color);
}

.nav-link:hover {
  color: var(--basic-darker-color);
}

.logo-img {
  height: 40px;
}

.active {
  color: var(--basic-darker-color) !important;
}

.header-description {
  background-color: var(--second-basic-light-color);
}

.header-description h1 {
  color: var(--basic-darker-color);
  font-size: 80px;
  font-weight: bold;
}

.header-description p {
  font-size: 40px;
}

p.h4 {
  font-size: 25px;
  font-weight: 100;
}

.header h2 {
  font-size: 80px;
  font-weight: 500;
}

.header hr {
  width: 700px;
  height: 5px;
  background-color: var(--basic-darker-color);
  color: var(--basic-darker-color);
  opacity: 1;
  margin: 10px auto;
}

/*main*/
.main-description p {
  line-height: 30px;
  opacity: 0.7;
}

.main-btn {
  padding: 15px 40px;
  border-radius: 8px;
  background-color: var(--basic-darker-color);
  color: white;
  border: 1px solid var(--basic-darker-color);
  font-size: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.main-btn:hover {
  border: 1px solid var(--basic-darker-color);
  background-color: var(--second-basic-light-color);
  color: var(--basic-darker-color);
  font-weight: bold;
}

.sections {
  justify-content: space-evenly;
  align-items: center;
}

.main-img {
  width: 400px;
}

.main-header-name {
  font-size: 38px;
  font-weight: 700;
}

.about-main-img {
  width: 350px;
}

.about-main h1 {
  font-size: 45px;
}

.about-main h2 {
  font-size: 24px;
  color: var(--basic-darker-color);
  font-weight: bold;
}

.about-main .info {
  font-size: 17px;
}

.info-icon {
  font-size: 10px;
}

.education-info h3,
.skills-info h3 {
  color: var(--basic-darker-color);
  font-size: 32px;
  text-align: center;
}

.body-line {
  color: var(--basic-darker-color);
  opacity: 1;
  margin: 15px auto;
}

.icon-img {
  width: 20px;
}

.see-project {
  margin: 50px 0;
  width: 60%;
}

.portfolio-projects .card {
  border: 1px solid var(--basic-darker-color);
}

.portfolio-projects .card-img-top {
  border-bottom: 2px dashed var(--basic-darker-color);
}

/*footer*/
h5 {
  font-size: 28px;
}

.footer-line {
  width: 80%;
  color: var(--basic-darker-color);
  opacity: 1;
  margin: 15px auto;
}

a.btn:active {
  transform: scale(95%);
  border: none;
}

@media (max-width: 767px) {
  .header-description h1 {
    font-size: 60px;
  }
  .header-description .pt-3 {
    font-size: 35px;
  }
  .main-description {
    width: 380px;
  }
  .main-description h2,
  .main-description p {
    text-align: center !important;
  }
  .about-main h1,
  .about-main h2 {
    text-align: center !important;
  }
  .about-main-img {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .logo-img {
    height: 28px;
  }
  .toggler-icon-custom {
    padding: 0px 5px;
  }
  .navbar-toggler-icon {
    width: 20px;
  }
  .header-description h1 {
    font-size: 40px;
  }
  .header-description .pt-3 {
    font-size: 25px;
  }
  .header-description .h4 {
    font-size: 20px;
  }
  .main-description h2 {
    font-size: 30px;
  }
  .main-img {
    width: 300px;
  }
  .main-btn {
    padding: 8px 25px;
    font-size: 12px;
  }
  .header h2 {
    font-size: 55px;
  }
  .header hr {
    width: 350px;
  }
  .education-info strong,
  .education-info span {
    font-size: 14px;
  }
}
